Source: moxa-it87-wdt-driver
Section: kernel
Priority: optional
Maintainer: Elvis Yao <ElvisCW.Yao@moxa.com>
Uploaders: Remus Wu <RemusTY.Wu@moxa.com>
Standards-Version: 4.1.2
Build-Depends:
 debhelper (>= 10),
 linux-headers-4.9.0-13-amd64
Homepage: https://www.moxa.com/

Package: moxa-it87-wdt-driver-amd64
Architecture: amd64
Depends:
 ${misc:Depends},
 linux-image-4.9.0-13-amd64
Replaces:
 linux-image-4.9.0-13-amd64
Description: IT87 Watchdog Timer
  This is the driver for the hardware watchdog on the ITE IT8607,
  IT8620, IT8622, IT8625, IT8628, IT8655, IT8665, IT8686, IT8702,
  IT8712, IT8716, IT8718, IT8720, IT8721, IT8726, IT8728, and
  IT8783, IT8786E Super I/O chips.
