Source: moxa-it87-wdt-driver
Section: kernel
Priority: optional
Maintainer: Elvis Yao <ElvisCW.Yao@moxa.com>
Standards-Version: 4.1.2
Build-Depends: debhelper (>= 10),
               libc6-dev,
               linux-headers-4.9.0-9-amd64 (= 4.9.168-1+deb9u4)
Homepage: https://www.moxa.com/

Package: moxa-it87-wdt-driver
Architecture: amd64
Depends: ${misc:Depends},
         linux-image-4.9.0-9-amd64 (>= 4.9.168-1)
Description: The purpose of this driver is IT87 watchdog driver.
