#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all,-relro
export CC=gcc

#
# Call debhelper for clean, build, binary
#
%:
	dh $@

override_dh_auto_build:
	$(MAKE) KDIR=/lib/modules/4.9.0-9-amd64/build

override_dh_auto_install:
	$(info Skip dh_auto_install)

override_dh_auto_clean:
	$(MAKE) KDIR=/lib/modules/4.9.0-9-amd64/build clean

override_dh_strip:
	dh_strip --no-automatic-dbgsym
